[submodule "backend"]
	path = backend
	url = https://github.com/belacartaxo/netflix-plus-plus-backend
[submodule "database"]
	path = database
	url = https://github.com/belacartaxo/netflix-plus-plus-database
